body {
    background-color: #B3EBFF;
    padding-top: 45px;
  
  }
  
  h1 {
    color: #56d2ff;
    text-align: center;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 6rem;
  }
  
  h2 {
    text-align: center;
    color: white;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: auto;
  }
  
  #words {
    color: #56d2ff;
    background-color: white;
    font-size: large;
    padding: 10px 20px 10px 20px;
  
  }
  
  button:hover {
    background-color: white;
    color:#56d2ff; 
  }
  
  button:active {
    background-color: #56d2ff;
  }
  
  #textbox {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
    background-color:  #56d2ff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: 'Rum Raisin', sans-serif;
  }
  
  #cakepic {
   text-align: center;
   height:100px
  }
  
  pleasecenter {
    justify-content: center;
  }
  
  #me {
    height:640px;
    width: 630px;
  }
  
  #meee {
    height:640px;
    width: 630px;
  }
  
  